* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: crimson!important;
    color: white!important;
}

.header_link{
    text-decoration: none;
}
.top_header{
    width: 100%;

    padding: 20px;

    display: flex;
    flex-direction: row;
    gap: 20px;

    background-color: crimson;
    color: white;
}
.top_header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top_header .font_a_logo i{
    font-size: 4em;
    padding-bottom: 5px;
}

.top_nav{
    background-color: white;
    color: crimson;

    border-bottom: 5px solid crimson;

    display: flex;
    justify-content: center;
}
.top_nav > ul{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}
.top_nav ul li{
    display: flex;
    flex-direction: column;

    background-color: white;
    color: crimson;

    transition: .3s ease;

    padding: 15px 30px;
    margin: 0 10px;

    font-weight: bold;
    font-size: 1.5em;

    position: relative;

    cursor: pointer;
}
.top_nav ul li:hover{
    background-color: crimson;
    color: white;
}
.nav_dropdown{
    display: none;
    position: absolute;
    background-color: crimson;
    color: white;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 99;
}
.top_nav .nav_dropdown{
    background-color: white;
    color: crimson;
    border: 1px solid crimson;
    width: 100%;
    padding-left: 0;
}
.top_nav .nav_dropdown li{
    background-color: white;
    color: crimson;
    padding: 10px 5px;
}
.top_nav .nav_dropdown li a{
    font-size: 18px;
    color: crimson;
    background-color: white;
    text-decoration: none;
    transition: .3s ease;
}
.top_nav .nav_dropdown li:hover{
    background-color: white;
    color: crimson;
}
.top_nav .nav_dropdown li a:hover{
    text-decoration: underline;
}

.top_nav ul li:hover > .nav_dropdown{
    display: block;
}

.genre_list_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.genre_list_container > *{
    margin: 10px;
}

.add_genre_container{
    display: flex;
    justify-content: center;

    width: 100%;
}
.add_genre_form{
    display: inline-flex;
    flex-direction: column;
    padding-top: 25px;
}
.add_genre_form input, .add_genre_form textarea{
    margin: 6px 0;
}

.genre_detail_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
}
.genre_detail_left_column{
    width: 70%;
}
.genre_detail_right_column{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.genre_edit_controls_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.genre_detail_right_column a{
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genre_detail_right_column i{
    color: white;
}
.genre_detail_right_column a.genre_edit{
    background-color: dodgerblue;
}
.genre_detail_right_column a.genre_delete{
    background-color: crimson;
}