* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: crimson!important;
    color: white!important;
}

.header_link{
    text-decoration: none;

    display: flex;
    gap: 10px;
    flex-grow: 1;

    color: white;
}
.header_link:hover{
    color: white;
}

.account_buttons{
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.account_buttons:hover{
    color: white;
}

.nav_account_btn i{
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
}

.top_header{
    width: 100%;

    padding: 20px;

    display: flex;
    flex-direction: row;
    gap: 20px;

    background-color: crimson;
    color: white;

    display: flex;
    flex-direction: row;
}
.top_header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top_header .font_a_logo i{
    font-size: 4em;
    padding: 5px;
    border-radius: 100px;
    color: crimson;
    background-color: white;
}

.top_nav{
    background-color: white;
    color: crimson;

    border-bottom: 5px solid crimson;

    display: flex;
    justify-content: center;
}
.top_nav > ul{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}
.top_nav ul li{
    display: flex;
    flex-direction: column;

    background-color: white;
    color: crimson;

    transition: .3s ease;

    padding: 15px 30px;
    margin: 0 10px;

    font-weight: bold;
    font-size: 1.5em;

    position: relative;

    cursor: pointer;
}
.top_nav ul li:hover{
    background-color: crimson;
    color: white;
}
.nav_dropdown{
    display: none;
    position: absolute;
    background-color: crimson;
    color: white;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 99;
}
.top_nav .nav_dropdown{
    background-color: white;
    color: crimson;
    border: 1px solid crimson;
    width: 100%;
    padding-left: 0;
}
.top_nav .nav_dropdown li{
    background-color: white;
    color: crimson;
    padding: 10px 5px;
}
.top_nav .nav_dropdown li a{
    font-size: 18px;
    color: crimson;
    background-color: white;
    text-decoration: none;
    transition: .3s ease;
}
.top_nav .nav_dropdown li:hover{
    background-color: white;
    color: crimson;
}
.top_nav .nav_dropdown li a:hover{
    text-decoration: underline;
}

.top_nav ul li:hover > .nav_dropdown{
    display: block;
}

.list_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list_container > *{
    margin: 10px;
}

.add_container{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 50%;

    padding: 20px;
    margin: 0 auto;
}
.add_form{
    display: inline-flex;
    flex-direction: column;
    padding-top: 25px;
}
.add_form input, .add_form textarea,
.add_form select, .add_form ul{
    margin: 6px 0;
}

.detail_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
}
.detail_left_column{
    width: 70%;
}
.detail_right_column{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.edit_controls_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.detail_right_column a.crud_buttons{
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail_right_column a.song_artist_name{
    color: black;
    text-decoration: none;
}
.detail_right_column i{
    color: white;
}
.detail_right_column a.edit{
    background-color: dodgerblue;
}
.detail_right_column a.delete{
    background-color: crimson;
}

.delete_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}
.delete_container form.delete_form a.back_button{
    color: #fff!important;
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;
}

#id_genre{
    max-height: 20ch;
    overflow: auto;
}
ul#id_genre {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 5px;

}

ul#id_genre li{
    width: calc(100% / 3);
}

ul.errorlist li{
    color: crimson;
}
ul.errorlist li::marker{
    display: none;
}

div.detail_songs{
    width: 70%;
}
ul.detail_song_list{
    width: 100%;
    padding-left: 5px;
    padding-top: 10px;
}
a.detail_song_list_link{
    color: black;
    text-decoration: none;
}
li.detail_song_list_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 0 10px;
}
li.detail_song_list_item p{
    margin-top: 1rem;
}

li.detail_song_list_item i{
    background-color: crimson;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
p.detail_song_list_item_name span{
    font-size: 0.6em;
}

.sticky_footer{
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 350px;
    height: 75px;
    background-color: crimson;
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.sticky_footer *{
    color: white!important;
    padding: 0;
    margin: 0;
    text-decoration: none; 
}
.sticky_footer > a, .sticky_footer > a > h3{
    width: 100%;
    height: 100%;
}
.sticky_footer a > div{
    padding-left: 10px;
}

.queue_control{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.queue_control button{
    background-color: transparent;
    border: none;
    font-size: 1.7em;
}


.add_to_queue_btn{
    margin-bottom: 20px;
}

.queue_container{
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.queue_left_column{
    flex-grow: 1;
}
.queue_left_column ul{
    list-style: none;
    padding-right: 50px;
    margin-top: 30px;
}
.queue_left_column li{
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}
.queue_left_column li:nth-child(2n){
    background-color: rgb(211, 211, 211);
}
.queue_right_column{
    min-width: 250px;
    width: 20%;
}
.current_song_in_list{
    background-color: crimson!important;
    color: white;
    position: relative;
}
.queue_buttons{
    display: flex;
    flex-direction: row;
}
input#new_playlist_name{
    padding: 5px;
    position: relative;
    top: 3px;
}

.queue_left_column ul li{
    display: flex;
    justify-content: space-between;
}
.queue_left_column ul li a{
    text-decoration: none;
    color: black
}
.queue_left_column ul li.current_song_in_list a{
    color: white;
}
.queue_left_column ul li a i{
    margin-right: 10px;
}

.login_content, .register_content{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}
.login_content h2, .register_content h2{
    padding-bottom: 15px;
}
.login_content form, .register_content form{
    display: flex;
    flex-direction: column;
}
.login_content button[type='submit'], .register_content button[type='submit']{
    margin: 15px auto;
    padding: 10px;
    border: none;
    background-color: crimson;
    color: white;
}

.playlist_duration, .queue_duration{
    font-size: 0.8em;
}
h5.add_new_song_title{
    margin-top: 35px;
}
.playlist_new_song_form{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    max-width: 350px;
    margin-top: 10px;
}
.playlist_new_song_form input[type='submit']{
    padding: 7px;
    border: none;
    background-color: crimson;
    color: white;
}

.item_description{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.homepage_content{
    display: flex;
    flex-direction: row;

    padding-top: 20px;
}
.homepage_featured_container{
    width: 33%;
    margin: 10px;
    border: 1px solid crimson;
    border-radius: 10px;
    overflow: hidden;
}
.homepage_featured_header{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 0;
    margin-bottom: 5px;

    background-color: crimson;
    color: white;

    font-weight: bold;
    font-size: 1.45em;
}
.homepage_featured_container ul{
    list-style: none;
    padding: 0;
}
.homepage_featured_container a{
    text-decoration: none;
    color: #1b1b1b
}
.homepage_featured_container li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding: 10px 0px;
}
.homepage_featured_container a:not(:last-child) li{
    border-bottom: 1px solid crimson;
}
.homepage_featured_container li p{
    margin: 0;
}
.homepage_featured_container li p span{
    font-size: 0.6em;
}
.featured_legend{
    border-bottom: 2px solid crimson;
}