<a href="/" class='header_link'>
    <header class="top_header">
        <h1>
            Jukebox - {{ page_title }}
        </h1>
        <p>The playlist hotspot</p>
    </header>
</a>


<nav class="top_nav">
    <ul>
        <li>
            Songs
            <ul class='nav_dropdown'>
                <li> 
                    <a href="#">Add new song</a>
                </li>
                <li>
                    <a href="#">View songs</a>
                </li>
            </ul>
        </li>
        <li>
            Genres
            <ul class='nav_dropdown'>
                <li> 
                    <a href="/genre/new">Add new genre</a>
                </li>
                <li>
                    <a href="/genre">View genres</a>
                </li>
            </ul>
        </li>
        <li>
            Artists
            <ul class='nav_dropdown'>
                <li> 
                    <a href="#">Add new artist</a>
                </li>
                <li>
                    <a href="#">View artists</a>
                </li>
            </ul>
        </li>
        <li>
            Playlists
            <ul class='nav_dropdown'>
                <li> 
                    <a href="#">Add new playlist</a>
                </li>
                <li>
                    <a href="#">View playlists</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>