<a href="{% url 'home' %}" class='header_link'>
    <header class="top_header">
        <div class='font_a_logo'>
            <i class="fa-brands fa-spotify"></i>
        </div>
        <div>
            <h1>
                Jukebox - {{ page_title }}
            </h1>
            <p>The playlist hotspot</p>
        </div>
        
    </header>
</a>


<nav class="top_nav">
    <ul>
        <li>
            Songs
            <ul class='nav_dropdown'>
                <li> 
                    <a href="{% url 'song_add' %}">Add new song</a>
                </li>
                <li>
                    <a href="{% url 'song_list' %}">View songs</a>
                </li>
            </ul>
        </li>
        <li>
            Genres
            <ul class='nav_dropdown'>
                <li> 
                    <a href="{% url 'genre_add' %}">Add new genre</a>
                </li>
                <li>
                    <a href="{% url 'genre_list' %}">View genres</a>
                </li>
            </ul>
        </li>
        <li>
            Artists
            <ul class='nav_dropdown'>
                <li> 
                    <a href="{% url 'artist_add' %}">Add new artist</a>
                </li>
                <li>
                    <a href="{% url 'artist_list' %}">View artists</a>
                </li>
            </ul>
        </li>
        <li>
            Playlists
            <ul class='nav_dropdown'>
                <li> 
                    <a href="{% url 'playlist_add' %}">Add new playlist</a>
                </li>
                <li>
                    <a href="{% url 'playlist_list' %}">View playlists</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>