{% extends 'base.html' %} 

{% block content %}

<div class="detail_container">
    <div class="detail_left_column">
        <h1 class="detail_name">
            {{ object.name }}
        </h1>
        <p>
            {{ object.description }}
        </p>
    </div>
    <div class="detail_right_column">
        <img src="{{ object.image.url }}" alt="{{ object.name }} logo">
        <div class="edit_controls_container">
            <div>
                <a href="{{ object.get_absolute_url }}edit/" class='edit crud_buttons'>
                    <i class="fa-solid fa-file-pen"></i>
                </a>
            </div>
            <div>
                <a href="{{ object.get_absolute_url }}delete/" class='delete crud_buttons'>
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
        
    </div>  

    <div class="detail_songs">
        <h2>
            {{ object.name }} songs
        </h2>
        <ul class='detail_song_list'>
            <li class='detail_song_list_item'>
                <p>
                    <b>
                        Name and Artist:
                    </b>              
                </p>
                <p>
                    <b>
                        Views:
                    </b>           
                </p>
            </li>
            {% for song in song_list %}
            
            <a href="{{ song.get_absolute_url }}" class='detail_song_list_link'>
                <li class='detail_song_list_item'>
                    <p>
                        {{ song.name }} - {{ song.artist }}
                    </p>
                    <p>
                        {{ song.views }}
                    </p>  
                </li>
            </a>
            
        
            {% endfor %}
        </ul>
    </div>
</div>



{% endblock %}